.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}


/* HEADER *******/
.header {
    height: 120px;
}

.header h1 {
    float: left;
    margin-left: 50px;
    margin-top: 40px;
}

.header .user-infos {
    float: right;
    margin-right: 20px;
}

/* FOOTER *******/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/* LEFT COLUMN *****/
.left-column{
    float: left;
    margin: 10px 50px;
}

.left-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
}

.left-column li {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: left;
}

.left-column li.active {
border: solid;
}

.content table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}
.content tr td {
    border: 1px solid;
}
